.Dialogue__Container {
	border-radius: 5px;
	padding-left: 1em;
	padding-right: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	position: relative;
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	align-items: flex-start;
}

.Dialogue__Speaker::after {
	content: ":";
	height: 1px;
	position: absolute;
	top: 0;
	right: 0;
	padding-left: 2px;
	padding-right: 5px;
	margin-right: 5px;
}

.Dialogue__Speaker {
	position: relative;
	margin-right: 1em;
	padding: 2px;
	min-height: 1.8em;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-radius: 5px;
	color: #696f80;
	font-weight: 600;
}

.Dialogue__Speech {
	color: #40454f;
	position: relative;
	margin-right: 1em;
	padding: 2px;
	min-height: 1.8em;
	width: 100%;
	border-radius: 5px;
}
