.SentenceNode {
	border-radius: 5px;
	border-color: #e2e8f0;
	margin-left: 0.25em;
	margin-right: 0.25em;
	border-width: 1px;
	padding-left: 0.25em;
	align-items: flex-end;
	flex-wrap: wrap;
	background-color: #f6f6f6;

	> span {
		flex-shrink: 0;
	}

	&::after {
		background-repeat: no-repeat;
		background-position: left;
		background-image: url("/icons/bookmark.svg");
		background-size: 1.4em;
		margin-right: 6px;
		// padding-left: 24px;
		padding-right: 16px;
		font-size: 0.9em;
		vertical-align: middle;
		content: " ";
	}
}

.SentenceNodeWithTranslation {
	border-radius: 5px;
	border-color: #e2e8f0;
	margin-left: 0.25em;
	margin-right: 0.25em;
	border-width: 1px;
	padding-left: 0.25em;
	align-items: flex-end;
	flex-wrap: wrap;
	max-width: 90%;
	background-color: #f6f6f6;

	&::after {
		background-repeat: no-repeat;
		background-position: left;
		background-image: url("/icons/bookmark.svg");
		background-size: 1.4em;
		padding-left: 22px;
		padding-right: 8px;
		color: #696f80;
		font-style: italic;
		font-size: 0.9em;
		vertical-align: middle;
		content: " " attr(data-translation);
	}
}
