.SplitLayout__Container {
	border-radius: 5px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;

	> div {
		width: 50%;
	}

	> div:first-child {
		justify-self: flex-start;
		margin-right: 0.5em;
		padding-right: 0.5em;
		border-right: 1px solid #eef1f6;
	}

	> div:last-child {
		justify-self: flex-end;
		padding-right: 0.5em;
	}
}
